@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  overflow-x:hidden;  
}
.breadcrumb{
  justify-content: center;
}
.breadcrumb-item a{
  list-style:  none;
  font-size: 22px;
  color: #fff;
}
.breadcrumb .active{
  font-size: 24px !important;
  color: blue !important;
}
a{
  text-decoration: none !important;
}
a:hover{
  color: #fff !important;
}