
.banner_text{
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 30px;
    text-align: center;
}

.banner_btn{
    font-size: 18px;
    padding: 16px 30px;
    text-align: center;
    position: relative;
    color: #fefefe;
    text-transform: uppercase;
    background: #0073ff;
    font-weight: 600;
    display: inline-block;
    border: 2px solid transparent;
    transition: background 0.5s linear;
}
.banner_btn:hover {
    background: #e5175c;
}

@media screen and (max-width:576px) {
    .banner-container .banner-content{
        order: 2;
    }
    .banner-container img{
        order: 1;
    }
    .banner_text{
        font-size: 32px;
        line-height: 1;
        margin-bottom: 20px;
        text-align: start;
    }
    .banner_btn{
        padding: 10px 20px;
    }
}
@media screen and (min-width:577px) and (max-width:767px) {
    .banner-container .banner-content{
        order: 2;
    }
    .banner-container img{
        order: 1;
    }
    .banner_text{
        font-size: 58px;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: start;
    }
    .banner_btn{
        padding: 10px 20px;
    }
}
@media screen and (min-width:768px) and (max-width:991px) {
    
    .banner_text{
        font-size: 58px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .banner_btn{
        padding: 10px 20px;
    }
}